node_modules
.next
.git
.github
.gitignore
.dockerignore
.swc
data/
monitoring/prometheus_data/
monitoring/grafana_data/
backups/
*.log
*.sql
*.gz
out/
dist/
build/
cov/
coverage/
.nyc_output
.playwright
playwright-report
test-results
